node_modules/
coverage/
dist/
*.log

# Ignore JetBrains specific files
.idea

# Ignore VSCode specifics
.vscode

# DotEnv
.env*

# Yarn non-zero install
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
